@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header .head-Wrap {
  height: 60%;
  width: 70%;
}

.header .head-Wrap .button-Wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 10%;
}

.header .head-Wrap .button-Wrap .dark-Light-Btn {
  font-family: inherit;
  background-color: black;
  color: white;
  padding: 8px 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.header .head-Wrap .button-Wrap .dark-Light-Btn:hover {
  border-style: solid;
  border-color: bisque;
  border-width: 3px;
}

.header .head-Wrap .clock-Wrapper {
  position: relative;
  height: 50%;
}

.header .head-Wrap .clock-Wrapper .hr-Bar {
  position: absolute;
  width: 3px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(-140deg);
  height: 50%;
  transform-origin: top center;
}

.header .head-Wrap .clock-Wrapper .min-Bar {
  position: absolute;
  width: 3px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(-130deg);
  height: 40%;
  transform-origin: top center;
}

.header .head-Wrap .clock-Wrapper .sec-Bar {
  position: absolute;
  width: 3px;
  background-color: rgb(255, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(-150deg);
  height: 45%;
  transform-origin: top center;
}

.header .head-Wrap .clock-Wrapper .middle-Dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(116, 113, 113);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .head-Wrap .clock-Wrapper .middle-Dot::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .head-Wrap .times {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 15px;
  justify-content: space-evenly;
}

.header .head-Wrap .date-Time-Wrap {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
  height: 40%;
}

.header .head-Wrap .date-Time-Wrap h1 {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: 300;
  font-size: 50px;
  height: 45px;
}

.header .head-Wrap .date-Time-Wrap hr {
  height: 5px;
  border: none;
  border-bottom: solid;
  width: 30%;
}

.header .head-Wrap .date-Time-Wrap h4 {
  padding: 0;
  margin: 0;
  color: gray;
  display: flex;
  font-weight: 300;
  font-size: 20px;
  height: 25px;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.header .head-Wrap .date-Time-Wrap .day-El {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
}
