@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header .head-Wrap {
  height: 60%;
  width: 70%;
}

.header .head-Wrap .button-Wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 10%;
}

.header .head-Wrap .button-Wrap .dark-Light-Btn {
  font-family: inherit;
  background-color: black;
  color: white;
  padding: 8px 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.header .head-Wrap .button-Wrap .dark-Light-Btn:hover {
  border-style: solid;
  border-color: bisque;
  border-width: 1px;
}
